
.DS_Store
/output/~$_Ventures&profit_Baseline.docx
/output/~$ofits&Hypothesis.docx
/data/~$ndbook slave trade profits databases.docx
/data/.~lock.Venture database GD.csv\#
*.stjson
~$mpare_Sample_NationalityxPeriod.docx
/output/Data_for_IRR_computation_OR0_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR._VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR._VSDO1_VSDR1_VSDT1_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR0_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR0.83_VSDT0_VSRV1.2_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV0_INT0.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT1.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR1_VSDT1_VSRV1_VSRT1_INV1_INT0.dta
/output/Database for IRR computation_OR0.5_VSDO1_VSDR1_VSDT1_VSRV1_VSRT1_INV1_INT1.dta
/output/Database for IRR computation_OR0.5_VSDO1.5_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for IRR computation_OR1_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR._VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR._VSDO1_VSDR1_VSDT1_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR0_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR0.83_VSDT0_VSRV1.2_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV0_INT0.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT1.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR1_VSDT1_VSRV1_VSRT1_INV1_INT0.dta
/output/Database for profit computation_OR0.5_VSDO1_VSDR1_VSDT1_VSRV1_VSRT1_INV1_INT1.dta
/output/Database for profit computation_OR0.5_VSDO1.5_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
/output/Database for profit computation_OR1_VSDO1_VSDR1_VSDT0_VSRV1_VSRT0_INV1_INT0.dta
*.csv#
~To generate transaction_id.do.stswp
TSTD_enriched.dta
/data/~$data_quality_flags.xlsx
/output/~$ofits_bynatio_baseline.docx
